#h1-depositions {
  font-family: "Poppins", "Open Sans", sans-serif;
  color: white;
  text-align: center;
  margin-top: 5vw;
  font-size: 1.6rem;
}

#span-depositions {
  font-family: "Poppins", "Open Sans", sans-serif;
  color: aqua;
}

#div-depositions {
  display: flex;
  width: 90%;
  padding: 2rem;
  box-sizing: border-box;
}

.section-depositions {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  overflow: hidden;
}

.carousel {
  overflow: hidden;
  margin-left: 1rem;
  position: relative;
  background: white;
  border-radius: 10px;
  width: 60%;
  height: 100%;
}

.description {
  width: 40%;
  margin-right: 1rem;
  color: white;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.carousel-item {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(30 27 75);
  border: 2px solid #be185d;
  font-size: 1.2rem;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
}

.carousel-item h2 {
  margin: 10px 0;
  font-size: 1.2rem;
  color: white;
}

.carousel-item p {
  font-size: 1rem;
  color: white;
}

.quote-icon {
  font-size: 4rem;
  color: aqua;
}

#feedback {
  color: aqua;
}

@media only screen and (max-width: 768px) {
  #div-depositions {
    flex-direction: column;
    align-items: center;
  }

  .description {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .carousel {
    width: 100%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 480px) {
  .carousel {
    margin: auto;
    width: 100%;
  }

  .carousel-item h2 {
    font-size: 0.9rem;
  }

  .description {
    text-align: center;
  }

  .section-depositions {
    border-top: 1px solid white;
  }
}
